@import "tailwindcss";

:root {
  --bg-color:rgb(253, 232, 194);
  --text-color: #1e1e1e;
  --button-bg:rgba(138, 63, 9, 0.82);
  --button-text: #fff;
}

.dark-mode {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --button-bg: #ffffff;
  --button-text: #1e1e1e;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: rgb(253, 232, 194);
  color: #1e1e1e;
  transition: background-color 0.3s, color 0.3s;
}